@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto.ttf");
}
body{
    user-select: none;
    font-family: "Roboto";
    font-size: small;
    color: white;
    margin: 0em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 0em;
    touch-action: none;
}
.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .5em;
}
.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
}
button{
    color: white;
    border: .1em solid white;
    outline: 0;
    padding: .5em;
    border-radius: .5em;
    background: rgba(0, 0, 0, 0);
    transition: .5s;
}
button:hover{
    color: rgb(118, 175, 208);
    border-color:rgb(118, 175, 208);
}
button:active{
    background-color: rgba(118, 175, 208, 80%)
}
input{
    font-family: "Roboto";
    color: white;
    border: .1em solid white;
    outline: 0;
    border-radius: .25em;
    background-color: rgba(0, 0, 0, 0);
    transition: .5s;
}
label{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
label:hover{
    color: rgb(118, 175, 208);
}
input:focus{
    color: rgb(118, 175, 208);
    border-color: rgb(118, 175, 208);
}
input[type="number"]{
    -moz-appearance: textfield;
}
input[type="number"]:hover{
    -moz-appearance: textfield;
}
#ui{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    min-width: 15%;
    top: 0em;
    left: 1em;
    height: 100%;
}
#graph-options{
    color: white;
}
#graph-options label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.graph-controls{
    position: relative;
    direction: ltr;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 1.5em;
    border: 0.01em white solid;
    border-radius: 0.5em;
    transition: .5s;
}
.graph-controls label{
    width: max-content;
}
.graph-controls:hover{
    border-color: rgb(118, 175, 208);
}
.graph-controls input[type="color"]{
    width: 1.5em;
    height: 1.5em;
}
.formula{
    z-index: 2;
    position: absolute;
    top: -25%;
    background-color: white;
    color: black;
    padding: .1em;
    border-radius: .2em;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
    transition: .5s;
}
.graph-controls:hover .formula{
    background-color: rgb(118, 175, 208);
    
}
.formula:hover{
    height: max-content;
    word-break: break-all;
    white-space: normal;
}
#sidebar{
    top: 0em;
    left: 0em;
    height: 70%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    direction: rtl;
    scrollbar-width: thin;
    scrollbar-color: white rgba(0, 0, 0, 0%);
    gap: 2em;
    padding: 2em;
    transition: .5s;
}
#renderer{
    z-index: 0;
    position: absolute;
    top: 0em;
    left: 0em;
}

@media only screen and (orientation: portrait) and (max-height: 800px) and (max-width: 400px){
    body{
        font-size: .5em;
    }
    input{
        font-size: .5em;
    }
    input[type="checkbox"]{
        width: 2em;
    }
    #ui{
        max-width: 35%;
    }
    button{
        font-size: .5em;
    }
    label{
        font-size: 0.5em;
    }
    #sidebar{
        max-width: 50%;
    }
    .graph-controls{
        flex-direction: column;
        justify-content: space-between;
        padding: .5em;
        gap: 0.5em;
    }
    .formula{
        top: -22%;
    }
}
@media only screen and (orientation: landscape) and (max-height: 400px) and (max-width: 800px){
    body{
        font-size: .5em;
    }
    input{
        font-size: .5em;
    }
    input[type="checkbox"]{
        width: 1.75em;
    }
    #ui{
        max-width: 30%;
    }
    label{
        font-size: 1em;
    }
    button{
        font-size: .5em;
    }
    .graph-controls{
        padding: 0.5em;
    }
}