@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto.ttf");
}
body{
    user-select: none;
    font-family: "Roboto";
    color: white;
    margin: 0em;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    gap: 0em;
}
.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .5em;
}
.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
}
button{
    color: white;
    border: .1em solid white;
    outline: 0;
    padding: .5em;
    border-radius: .5em;
    background: rgba(0, 0, 0, 0);
    transition: .5s;
}
button:hover{
    color: rgb(118, 175, 208);
    border-color:rgb(118, 175, 208);
}
button:active{
    background-color: rgba(118, 175, 208, 80%)
}
input{
    font-family: "Roboto";
    color: white;
    border: .1em solid white;
    outline: 0;
    border-radius: .25em;
    background-color: rgba(0, 0, 0, 0);
    transition: .5s;
}
label{
    transition: .5s;
}
label:hover{
    color: rgb(118, 175, 208);
}
input:focus{
    color: rgb(118, 175, 208);
    border-color: rgb(118, 175, 208);
}
input[type="number"]{
    -moz-appearance: textfield;
}
input[type="number"]:hover{
    -moz-appearance: textfield;
}
#graph-options{
    z-index: 1;
    color: white;
    position: absolute;
    width: 20%;
    right: 0.5em;
    bottom: 0em;
}
#graph-options label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.graph-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 1.5em;
    border: 0.01em white solid;
    border-radius: 0.5em;
    transition: .5s;
}
.graph-controls:hover{
    border-color: rgb(118, 175, 208);
}
.graph-controls input[type="color"]{
    width: 1.5em;
    height: 1.5em;
}
#sidebar{
    z-index: 1;
    top: 0em;
    left: 0em;
    min-width: 15%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    direction: rtl;
    scrollbar-width: thin;
    scrollbar-color: white rgba(0, 0, 0, 0%);
    gap: 2em;
    padding: 2em;
    font-size: small;
    transition: 1.5s;
}
#renderer{
    z-index: 0;
    position: absolute;
    top: 0em;
    left: 0em;
}